.color
{
background-color:rgb(39, 46, 39);
}
.style
{
background-color:white;
margin:30px;
padding-top:20px;
border-style: solid
}
.form
{
margin:50px;
display: inline-block;
width: 70%;
}
.photo
{
border-style:ridge;
width:150px;
height:100px;
position: absolute;
right: 60px;
padding-top:30px;
text-align:center;
}
label
{
font-size:20px;
display: inline-block;
width: 150px;
}
input
{
font-size:20px;

}
textarea
{
font-size:20px;

}
select
{
font-size:20px;
width: 200px;
}